.nav-pills .nav-link.active {
  background-color: #17a2b8 !important;
}

.card-img-top {
    background-color: #A4A9AB;
    padding: 20px;
    width: 100%;
    height: 200px;
}

img {
  width: 100%;
}

.bg-new {
  background-color: #17a2b8 !important;
}

footer p {
  color: #e3eced;
  margin-bottom: 5px;
}
